

<div class="page-wrapper">

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
      <div class="logo">
        <a routerLink="store/products">
          <img src="assets/images/logo.png" alt="EveryDayMarket" class="img-responsive">
        </a>
      </div>
  
      <app-product-category-menu></app-product-category-menu>
  
    </aside>
    <!-- END MENU SIDEBAR-->
  
    <div class="page-container">
      <!-- HEADER DESKTOP-->
      <header class="header-desktop">
        <div class="section-content section-content-p30">
          <div class="container-fluid">
            <div class="header-wrap">
  
              <app-search></app-search>
  
              <app-cart-status></app-cart-status>
  
  
            </div>
            <div class="account-wrap"></div>
          </div>
        </div>
      </header>
      <!-- END HEADER DESKTOP-->
  
      <!-- MAIN CONTENT-->
      <router-outlet></router-outlet>
  
  
    </div>
  </div>
  
  <!-- ENDS PAGE CONTAINER -->
  
  <footer>
    <ul>
      <li><a href="store/about-us">About Us</a></li>
      <li><a href="store/contact-us">Contact Us</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </footer>
  
  
  
  
  
  <!-- Html for login, ect  --
  
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">EveryDay Market</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Home </a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li class="nav-item" *ngIf="showEmpBoard">
          <a href="/emp" class="nav-link" routerLink="mod">Employee Board</a>
        </li>
        <li class="nav-item">
          <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </nav>
  
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  
  -->
  