<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome to Everyday Market</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/navbar-fixed/">

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="navbar-top-fixed.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/index.css">
  </head>
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #0da8e4;">
      
  <a class="navbar-brand" href="/store/products">EveryDay Markets</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="nav justify-content-end collapse navbar-collapse" id="navbarCollapse">
    <ul class=" nav nav-item" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link text-dark active" href="/store/products">Shop<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a class="nav-link text-dark" routerLink="/admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showEmpBoard">
        <a class="nav-link text-dark" routerLink="/emp">Employee Board</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/main/user" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Specials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/main/profile">My Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/main/contact-us">Contact Us</a>
      </li>
      <li class="nav-item">
        <button class=" nav-link btn btn-outline-dark" href="/main/login" type="submit" routerLink="login">Login</button>
      </li>
      <li class="nav-item">
        <a class="nav-link navbar-brand" href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/main/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/main/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/main/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
    
    </div>
 

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="../assets/dist/js/bootstrap.bundle.js"></script>
</nav>



