<h1>User Admin</h1>
<a class="btn btn-primary mb-3" (click)="addUser()">Add a New User</a>
<div class="container row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User ID</th>
          <th>UserName</th>
          <th>User Email</th>
          <th>User Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.userName }}</td>
          <td>{{ user.email  }}</td>
          <td>{{ user.role }}</td>
          <td><button type="button" class="btn btn-primary" (click)="viewUser(user.id)">Show Details</button></td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="col-md-6">
    <div class="col-md-6">
      <app-adduser *ngIf="action === 'edit' || action === 'add'" [user]="selectedUser" (userAddedEvent)="refreshData()"></app-adduser>
      <app-viewuser *ngIf="action === 'view'" [user]="selectedUser" (userDeletedEvent)="refreshData()"></app-viewuser>
    </div>
</div>